.parent {
  border: 5px solid lightcoral;
  display: flex;
  justify-content: space-around;
}

.item {
  width: 100px;
}

.map_box {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0;
  }
.map_box a {
  color:rgba(255,255,255,0.5);
  }
