/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 @import url('https://fonts.googleapis.com/css?family=Hind|Montserrat');

 * {
  margin:0;
  padding:0;
  outline:none;
  list-style:none;
  text-decoration:none;
  box-sizing:border-box;
  color:#111;
  background: transparent;
  border:none;
}

body {
  background: #FFF;
}

h1 {
  text-align: center;
}

h1 span {
 // border-bottom:solid 1px black;
 padding: 3px;
}


/* H1 EFFECT */
.effect {
  font-size: 6vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-weight: 700;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #222 50%, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size:200% 100%;
  transition: 0.6s all cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.8s;
}

.effect:before{
  content: "";
  height: 100%;
  width: 100%;
  background: #9cabc1;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect:after{
  content: "";
  height: 100%;
  width: 100%;
  background: #222;
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;left: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.effect.active {
  background-position: 0 0;
}

.effect.active:before {
  animation: anime 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}
.effect.active:after {
  animation: anime 1.2s 0.5s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
}


@keyframes anime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51%{
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

.logo {
  width: 400px;
  length: 400px;
}

/* CTA EFFECT */

.cta {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  padding: 2px 10px;
  background: #222;
  margin-top: 20px;
  transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  color: #fff;
  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  letter-spacing: 1px;
}

a.cta.outline {
  position: relative;
  background: transparent;
  border: 1px solid #222;
  overflow: hidden;
}

.cta.outline:before {
  content: "";
  height: 100%;
  z-index: -1;
  width: 100%;
  background: #222;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  -webkit-transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  -moz-transition: 0.6s transform cubic-bezier(1.000, 0.610, 0.165, 1.000);
  transform-origin:right;
  -webkit-transform-origin:right;
}
.cta.outline span {
  position: relative;
  z-index: 3;
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #111 50%, #222 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size:200% 100%;
  color: transparent;
  transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
  -webkit-transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
  -moz-transition: 0.6s all cubic-bezier(1.000, 0.610, 0.165, 1.000) 0.2s;
}
.cta.outline:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform-origin:left;
  -webkit-transform-origin:left;
}
.cta.outline:hover{
  box-shadow: none;
}
.cta.outline:hover span{
  background-position: 0 0;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s all ease-out 2s;
}
a.fade {
  transition: 0.6s all ease-out 2.6s;
}
.fade.active {
  transform: translateY(0);
  opacity: 1;
}

.fade textarea{
  color: white;
}

.fade input, select, textarea{
  color: black;
}

section {
  text-align: center;


}
.wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p {
  margin: 10px 0 0 0;
}

.wrapper-join-as-barber {
  background-size: cover;
  background-position: left;
  height: 400px;
  width: 100%;
  display: inline-block;
  margin-bottom: 100px;
}

.wrapper-how-to {
  background-color: #f3f3f3;
  text-align: center;
  padding-bottom: 50px;

}

.white-words {
 color: white;
}

.white-words-2 {
  color: white;
  padding-bottom: 30px;
}

.searchfunction{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-one {
  margin: 1px;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
  background: transparent;
  // border: 1px solid;
  // border-color: #F0F8FF;
  text-align: center;
}

.search-two {
    // border: 1px solid;
    // padding: 6px 43px 6px 6px;
    // margin: 5px 40px;
  }

  .second {
    padding-left: 100px;
  }

  .second-join-as {
    padding-left: 250px;
  }

  .left {
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 400px;
    background-color: rgba(1, 1, 1, 0.8);
  // background-color: blue;
  // justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(1, 1, 1, 0.8);
  width: 500px;
  height: 400px;
  // background-color: red;
  // justify-content: center;
}

.test_left_right {
  background-image: image-url("barber_banner_home.jpg");
  background-position: top;
  // background-position: 50% 70%;
  display: flex;
  justify-content: space-around;
}
