
  <div class="container-footer">
    <hr>
    <div class="text-center">
     <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
     <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
     <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
     <a href="mailto:barber@pp.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
   </div>
   <hr>
 </div>


