<div class="container">
	<div class="row">
   <div class="col-sm-6 col-md-4">
     <h1>
      Our sciscoring legends
    </h1>
  </div>
</div>
</div>

<div class="container barbers">
	<div class="row">
		<% @barbers.each do |barber| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="caption">
          <div class="name" >
            <%= link_to "#{barber.name}", barber_path(barber) %>
          </div>
          <div class="imagery">
            <img class="" src="<%= image_path(barber.picture) %>" alt="">
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
