<section class="first">
  <div class="wrap">
    <img src="afroman.jpg" class="effect" >
    <h1 class="effect">BarberApp</h1>
    <p class="fade">find the best shaves and cuts</p>
   </div>
</section>

<section id="anchor">
   <div class="wrap">
    <h2>Lorem ipsum dolor sit amet</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio nostrum quaerat recusandae quasi officia commodi mollitia, deleniti explicabo similique voluptatum quam accusamus exercitationem quo, ipsa, soluta laborum consequatur sequi quod.</p>
  </div>
</section>
<section>
   <div class="wrap">
    <h2>Lorem ipsum dolor sit amet</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolorum ullam ratione necessitatibus numquam inventore nisi illum natus facilis distinctio. Ea velit corporis fugiat dolorem a ipsum tenetur, distinctio maiores.</p>
  </div>
</section>

