<!-- modal pop up -->

<section id="homepage-header">
  <div class="row">
    <div class="wrapper">
      <div class= "banner">
        <div class="banner-content valign-wrapper">
          <h1>BarberApp</h1>
          <h2>For all your funky shaves & cuts </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<% if current_user.role.nil? %>
	<h3> Dear User</h3>
		<p> Please either fill in : client          or        barber

		Please be very specific because we didnt manage to produce options or buttons. Thanks, your amazing. We wont ask again. Probably.</p>
 <% @user = current_user %>
    <%= simple_form_for @user, :url => user_registration_path, :method => :patch do |f| %>
     <%= f.input :role %>
     <%= f.button :submit %>
	<% end %>
<% end %>
