<section class="first">
  <div class="wrap">
    <h1 class="effect">BarberApp</h1>
    <h3 class="fade">Get the best shaves and cuts</h3>
    <%= image_tag("logo3.jpg", :class => "logo")%>
  </div>
</section>

<section id="anchor">
 <div class="wrap">
  <h2>Welcome to BarberApp</h2>
  <p>Find your </p>
</div>
</section>
<section>
 <div class="wrap">
  <h2>Lorem ipsum dolor sit amet</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolorum ullam ratione necessitatibus numquam inventore nisi illum natus facilis distinctio. Ea velit corporis fugiat dolorem a ipsum tenetur, distinctio maiores.</p>
</div>
</section>

