<!-- modal pop up -->

<section id="homepage-header">
  <div class="row">
    <div class="wrapper">
      <div class= "banner">
        <div class="banner-content valign-wrapper">
          <h1>BarberApp</h1>
          <h2>For all your funky shaves & cuts </h2>
        </div>
      </div>
    </div>
  </div>
</section>

