

.center-container {
  text-align: left;
  padding-bottom: 60px;
}

.center-container h2 {
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 219px;
  align-items: flex-end;
  margin: 20px;
}
