#social-fb:hover {
    color: #3B5998
;
}
#social-tw:hover {
    color: #4099FF
;
}
#social-gp:hover {
    color: #d34836
;
}
#social-em:hover {
    color: #f39c12
;
}

// .container-footer {
// background-color: #efeae4
// ;
// position: absolute;
// width: 100%;
// height: 90px;
// padding: 0;
// padding-bottom: 30px;

// }

// .text-center {
//   text-align: right;
//   padding-right: 80px;
//   position: relative;
// }

// #footer {
// margin: 0px auto;
// width: 850px;
// }
// #footer .social {
// padding: 30px 0;
// width: 425px;
// text-align: center;
// }
// #footer .copyright {
// float: right;
// padding: 30px 0;
// width: 425px;
// text-align: right;
// }

// #myModal {

// }


footer {

}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
  position: absolute;
  bottom: 0;
  background-color: #efeae4;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
