.barberbanner {
  color: white;
  text-align: center;
  height: 40vh;
  width: 80%;
  padding-left: 220px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.barberbanner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner {
  height: 70vh;
}
