.review-input {
  // margin: 20px;
  width: 800px;

  border-color: black;
  color: black;
  font-size: 15px;
  line-height: 1.3333333;
 border-radius: 2px;

}
textarea.input-lg {
height: 200px;
}
.star-rating {

}
