.review-input {
  // margin: 20px;
  border-color: black;
  color: black;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 2px;
  margin: auto;
  // width: 750px;
}
textarea.input-lg {
  height: 200px;
}
.star-rating {

}

.edit-input {
 width: 670px;
 height: 200px;
 border-color: black;
 color: black;
 font-size: 15px;
 // line-height: 1.3333333;
 border-radius: 2px;
 text-align: left;
 text-align: top;
 padding-left:0;
padding-top:0;
padding-bottom:0.4em;
padding-right: 0.4em;

}

.input-name {
  height: 50px;
}

.test {
  margin: auto;
  width: 800px;
}
