.barbername {
  text-align: center;
  color: #BCAB79;
  vertical-align: middle;
}

.span {
   display: inline-block;
  vertical-align: middle;
}

.container-index {
  width: 1000;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.row-index {
  padding-top: 100px;
  justify-content: center;
  width: 800px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.caption{
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.caption:hover {
background-image: url('../images/card_picture2.jpg');
}
