.barbername {
  text-align: center;
  color: #BCAB79;
  vertical-align: middle;
}

.span {
   display: inline-block;
  vertical-align: middle;
}

.container {
  width: 1000;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;

}

.row {
  justify-content: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

