.barbername {
  text-align: center;
  color: #BCAB79;
  vertical-align: middle;
}

.span {
   display: inline-block;
  vertical-align: middle;
}

.container-index {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.row-index {
  padding-top: 100px;
  justify-content: center;
  width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.caption{
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.caption:hover {
background-image: url('../images/card_picture2.jpg');
color: red;
}

// LE WAGON CARD - DESIGN
/* Card design */
.card {
  height: 250px;
  width: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin: 20px;
  border: 2px solid black;
  opacity: 1;
  transition: 400ms ease;
}

.card:hover {
  opacity: 0.8;
}

.card-user {
  position: absolute;
  right: 15px;
  top: 15px;
}

.card-rating{
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  left: 20px;
  top: 70px;
}

.card-appointment-link {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.card-title {
  position: absolute;
  top: 5px;
  left: 30px;
  text-align: left;
}


