



#search-barbers {}

#search-barbers .outer-container {
  margin-top: 20px;
    margin-top: 20px;
  padding: 20px 0;
}

#search-barbers input {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid black;
  background-color: transparent;
  color: black;
}
#search-barbers input:focus {
  outline: none;
}
#search-barbers button {
  height: 40px;
  line-height: 40px;
  width: 40px;
  background-color: transparent;

}

#search-barbers button:hover {
  font-size: 15px;
}











