// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "swipebox";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";



body {
  color: #474A48;
  background-image: #f4f4f4;
  padding-bottom: 100px;
}

h2 {
    font-size: 32px;
    position:relative;
    padding:10px 5px;
    display: inline-block;
    color: #474A48;
}

.btn-search {
  background-color: #666a6d;
  padding:10px;
  border: solid 1px black;
  color: #474A48;
}

.banner {
  align-items: center;
  align-content: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
}

.banner-content {
  text-align: center;

}

.text{
  margin-bottom: 50px
}

.buttons {
  margin-top: 50px;
}

.search-btn:hover {
  // #5a5a57;
  color: black;
  transition: 500ms;
}

.search-btn {
  color: white;
  border-radius: 20em;
  background-size: 50px;
}


