// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "swipebox";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";



body {
  color: #474A48;
  background-color:#FBFFFF;
  padding-bottom: 100px;
}

h2 {
    font-size: 32px;
    position:relative;
    padding:10px 5px;
    display: inline-block;
    color: #474A48;
}

.btn-search {
  background-color: #666a6d;
  padding:10px;
  border: solid 1px black;
  color: #474A48;
}

.banner {
  align-items: center;
  align-content: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
}

.banner-content {
  text-align: center;
  padding-bottom: 200px;

}

.banner-index {
 align-items: center;
  align-content: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 80vh;
  color: white;
  padding-left: 100px;
}


.banner-content-index {
  color: white;
  text-align: left;
}

.text {
  margin-bottom: 50px;
}

.buttons {
  margin-top: 50px;
}

.search-btn-two:hover {
  color: #fceeed;
  transition: 300ms;
}

.search-btn-two {
  color: black;
  border-radius: 20em;
  background-size: 50px;
  border-color: black;

}

.search-btn-avail{
  color: black;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 50px;
}

.search-btn-avail:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}


.search-btn-home {
  color: #8A95A5;
}

.seach-btn-home:hover {

  text-decoration: none;
  color: black;
}

.profile-banner {
  align-items: center;
  align-content: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 350px;
  color: white;
}

.profile-banner-content {
   text-align: center;
}

.btn-update {
  color: black;
  border-radius: 20em;
  transition: 500ms;
  padding: 10px;

}

.btn-update:hover{
  background-color: #d1d1d1;
}

#barber_photo {
  color: black;
  border-radius: 20em;
  transition: 500ms;
  padding: 10px;
}

#barber_photo:hover{
  background-color: #d1d1d1;
}

