<h1>Edit appointment </h1>

<h4>
  Availability
</h4>
  <%= simple_form_for ([@barber, @appointment]) do |f| %>
    <%= f.input :date, as: :datetime, html5: true %>
  <%= f.button :submit %>
<% end %>

